<section id="videoList">
	<div class="container-fluid">
		<div class="row video-list-title-container">
		  <h1 class="col-xs-12 videoList-h1">Welcome to our Video List Player</h1>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				
				<h1 class="video-list-subtitle">The Bad ones <span class="glyphicon glyphicon-pawn"></span></h1>
				<ul class="each-video-container">
				    <li class="each-video" ng-repeat="item in vl.videoList.bads">
				    	<span>{{::item.description}} {{::item.url}}</span>

				    	<!-- data-setup='{}' -->
				    	<video class="video-js vjs-default-skin" controls preload="auto"  
						       width="100%" height="200" poster="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRdOft4Vpuk_KLL0VhDPIsTlvbqJZE7UwtwX0aYZ2Kvj_SCdt_Z" vjs-video>
						    <source src="{{vl.trustSrc(item.url)}}" type="{{item.cod}}">
						    <!-- <source src="{{vl.trustSrc(item.url)}}"> ´without specific type the mp4 works ok-->
						    <!-- <source src="{{vl.trustSrc(item.url)}}" type="{video/item.cod}"> -->
						    <!--<source src="http://bad-videos.dev.zype.com/video1/zfaeEvbmOKYqguNR.m3u8" type="video/mp4">-->
						</video>
				    </li>
				 </ul>
			  
			</div>
			<div class="col-xs-12 col-sm-6">
				<h1 class="video-list-subtitle">The Good ones <span class="glyphicon glyphicon-king"></span></h1>
				<ul class="each-video-container">
				    <li class="each-video" ng-repeat="item in vl.videoList.goods">
				    	<span>{{::item.description}} {{::item.url}}</span>

				    	<video class="video-js vjs-default-skin" controls preload="auto"
						       width="100%" height="200" poster="http://d2ydh70d4b5xgv.cloudfront.net/images/4/7/star-wars-solid-movie-logo-sign-emblem-unique-metal-item-custom-made-art-piece-6246301ed0badfc8eacf80c2700043bc.jpg" vjs-video>
						       <source src="{{vl.trustSrc(item.url)}}" type="{{item.cod}}">
						    <!--<source src="{{trustSrc(vl.videoList.goods[0].url)}}" type="video/mp4">-->
						     <!--<source src="{item.url}" type="video/mp4">-->
						    <!--<source src="http://bad-videos.dev.zype.com/video1/zfaeEvbmOKYqguNR.m3u8" type="video/mp4">-->
						</video>
				    </li>
				 </ul>
			</div>
		</div>

		{{vl.trustSrc(vl.videoList.goods[0].url)}}
		
	</div>
</section>